/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */

* {
    box-sizing :border-box;
}
html {
    font-family: 'Lato', Tahoma, Sans-Serif;
    font-size: 22px;
}
body {
  margin: 0;
  padding: 0;
}

/**************************************************
        HEADER
**************************************************/
.header {
    position: fixed;
    /* Posicion en relacion al navegador */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    display: block;
    width: 100%;
    height: 112px;
    padding-right: 50px;
    text-align: right;

}

.header ul {
    list-style-type: none;
    display: inline-block;
    margin:0;
  }

.header ul li {
    margin:0;
    display: inline-block;
    border-bottom: none;
    text-align: center;
    width: 150px;
}
.header ul li span, i{
    display: block;
    font-size: 0.7em;
    color:  rgba(0, 0, 0, 0.9);
}


.header span{
     visibility: hidden;

     /* 
        visibility : hidden | visible 
        Respeta el espacio de la caja y solo esconde

        display : none | block 
        NO RESPETA el espacio de la caja

     */
}


.header a:hover, a:hover span{
    visibility: visible;
}


/**************************************************
MENU LATERAL
**************************************************/
.menu-contenido {
    position: fixed; 
    /* Posicion en relacion al navegador */
    top:0;
    width: 300px;
    /* border:1px solid green; */
    padding: 20px;
    z-index: 1001;
}

.menu-lateral {
    background-color: #f9fbfd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    bottom: 0;
}

.menu-contenido{
    text-align: center;
}

.menu-contenido-info{
    position: relative;
    margin-top: 30px;
}
.menu-contenido-info h4{

    text-align: center;
}

[class*=icono-] {
    color: #4e4c4c;;
}


ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 20px 0;
    border-bottom: 1px dashed #c1bebe;
}

li span {
    padding: 10px 10px;
    color: #4e4c4c;
}

li a {
    position: relative;
    color: rgba(0, 0, 0, 0.2);
    overflow:hidden;
    display:block;
    text-decoration:none;
}

ul li:hover {
    background:  0% 0% rgba(0, 0, 0, 0.05);
}

.imagen-usuario{
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

figure{
    margin: 0px;
    text-align: center;
}

figcaption{
    color: gray;
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0px;
}





/**************************************************
 CONTENIDO CENTRO
**************************************************/

.contenido-centro{
    position: fixed;
    border:1px solid green;
    top: 112px;
    left: 300px;
    width: 70%;
    padding: 30px;
    margin: 30px;
    background-color: #eaeaea47;;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    background-color: #9ef;
    padding: 3px;
    margin: 5px;
    width: 40%;

}
